*{
padding:0;
margin:0;
}

input{
width:170px;
}

html, body{
height:100%;
width:100%;
background-color:#CCC;
}

#contaner{
width:900px;
margin:0 auto;
background-color:#FFF;
min-height:100%;
position:relative;
}

#empty{
height:40px;
}


*html #contaner{
height:100%;
}

#footer{
min-height:40px;
margin: -40px auto 0;
width:900px;
position:relative;
text-align:center;
}

#header{
text-align:center;
background-color:#B22222;
}

.login{
padding:30px;
border: 2px solid black;
margin: 30px auto 0;
background-color:#DCDCDC;
font-size:14px;
font-family:Verdana;

}

.login td{
padding:5px;
}

.login th{
padding:5px;
}
#button_f{
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #B22222; /* фон кнопки */
  padding:5px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  height:40px;
  width:174px;
} 

#head_inf, #head_inf a{
width:900px;
height: 30px;
color: black;
margin: 0 auto;
text-decoration: none;
}

#new_news{
    width: 70%;
    padding:30px;
    border: 2px solid black;
    margin: 30px auto 0;
    background-color:#DCDCDC;
    font-size:14px;
    font-family:Verdana;
    color: black;
}

#new_news input{
width: 150px; 
margin: 0 auto;
}

#load_image input{
width: 220px;    
}

#new_news select{
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  padding:5px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  height:40px;
  width:154px;
}

#add_but{
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #B22222; /* фон кнопки */
  padding:5px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  height:40px;
  width:174px;
} 


#news_table{
border: 1px solid black;
width: 76%;
background-color:black;
text-align:center; 
position: relative; 
margin:0 auto;
}

#news_table td, #news_table th{
background-color:white;
height: 10px;
}

#change_table{
border: 1px solid black;
width: 70%;
text-align:center; 
background-color:#DCDCDC;
position: relative; 
margin:0 auto; 
}

#change_table input{
color: red;
text-align:center;
width:100px;

}
#change_table textArea{
text-align:left;
color: red;
}
#change_table a{
text-align:left;
color: black;
text-decoration: none;
}

#cat_goods{
width: 40%;
padding:30px;
border: 2px solid black;
margin: 30px auto 0;
background-color:#DCDCDC;
font-size:14px;
font-family:Verdana;
color: black;
}

#cat_goods input{
 width: 150px;
}

#cat_goods select{
 width: 150px;
}

#new_table_img{
 height:50px;
 width:50px;
}